# Binaries
bin/
tmp/
app
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Go dependencies (optional: usually tracked via go.mod, but vendor can be ignored)
vendor/

# Environment variables
.env